<div class="card border-1 mb-3 bg-light <% if !! @dues.empty? %> d-none<% end %>">
    <div class="card-header border-0 text-danger">
        Due Today
    </div>

    <div class="card-body">
        <ul class="list-group" id="dueTaskList">
            <% if ! @dues.empty? %>
                <% @dues.each do |due| %>
                
                  <% 
                    if due.completed 
                      checked = "checked"
                    else 
                      checked = ""
                    end
                  %>

                  <li class="list-group-item d-flex justify-content-between align-items-center task-list">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="task-check" <%= checked %> class="custom-control-input" id="<%= due.id %>">
                      <label class="custom-control-label pointer" for="<%= due.id %>"><%= due.name %></label>
                      <span class="badge badge-<%= task_priority('badge', due.priority) %> mx-2">
                        <%= task_priority('text', due.priority) %>
                      </span>
                    </div>

                    <div>
                      <span class="text-muted mx-3"><%= due.due.strftime('%d %b %Y') %></span>
                      <small>
                        <%= link_to 'edit', edit_path(due.id), class: "text-muted", title: "Edit this task" %> 
                        <span class="text-muted">•</span>          
                        <%= link_to 'delete', destroy_path(due.id), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }, class: "text-muted", title: "Delete this task" %>
                      </small>
                    </div>
                  </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
