.container
  .row.justify-content-center
    .col-md-12

      #due 
        = render 'dues'

      .card.border-1
        .card-header.border-0.bg-white
          .row
            .col-md-4

              .input-group
                .input-group-prepend
                  %span.input-group-text Sorted by
                %select.custom-select#sort
                  %option{:value => "created_at", :selected => "selected"} Last created
                  %option{:value => "due"} Due date
                  %option{:value => "priority"} Priority
                  %option{:value => "name"} Task name

            .col-md-4

              .input-group
                .input-group-prepend
                  %span.input-group-text Show
                %select.custom-select#filter
                  %option{:value => "all", :selected => "selected"} All
                  %option{:value => "today"} Today
                  %option{:value => "queue"} Queue
                  %option{:value => "completed"} Completed

            .col-md-2
            
            .col-md-2
              = link_to "Add New", new_path, :class => "btn btn-primary btn-block"
            
        .card-body
          %ul.list-group#tasks
            = render 'tasks'
