@import "bootstrap";

.pointer:hover {
  cursor: pointer;
}

input[name=task-check][type=checkbox]:checked + label.custom-control-label {
  text-decoration: line-through;
}

.delete-link:hover {
  text-decoration: none;
}
